@keyframes dropDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropDownMenu {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropUpMenu {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
body {
  margin: 0 !important;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #45474b;
}
.notes {
  display: flex;
  align-items: center;
  height: 8%;
  font-family: "Nunito", sans-serif;
}
.note-container {
  height: 90%;
  display: flex;
  background-color: #45474b;
  animation: fadeIn 1s forwards;
}

.note-list-wrapper {
  position: relative;
  display: flex;
  width: 30%;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}
.note-list {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 0 !important;
  overflow-y: auto;
  margin-top: 0 !important;
}
.add-note-icon {
  position: absolute;
  bottom: 60px;
  right: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.add-note-icon:hover {
  transform: scale(1.2) rotateZ(180deg);
}
.note {
  position: relative;
  padding-left: 10px;
  align-content: center;
  list-style: none;
  height: 50px;
  border: 1px solid #f5f7f8;
  color: #f5f7f8;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.3s;
  animation: slideFromLeft 0.3s forwards;
}
.note:hover {
  cursor: pointer;
  scale: 1.03;
}

.note-editor {
  background-color: #2d2e31;
  font-family: "Nunito", sans-serif;
  padding-left: 30px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border-radius: 10px;
}
.note-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  height: 20%;
}
.note-editor input {
  width: 30%;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 30px;
  opacity: 0;
  animation:
    slideInFromTop 1s forwards,
    fadeIn 1s forwards;
}
.note-date {
  opacity: 0;
  animation:
    slideFromRight 1s forwards,
    fadeIn 1s forwards;
  font-weight: 500;
  color: #f5f7f8;
}
.note-editor textarea {
  width: 90%;
  height: 60%;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  outline: none;
  opacity: 0;
  animation:
    slideInFromTop 1s forwards,
    fadeIn 1s forwards;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10%;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.collection-strip {
  display: flex;
  max-height: 52px;
  width: 100%;
  background-color: #45474b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  animation: dropDown 0.8s ease-out forwards;
}
.collection-items {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 20px;
  animation: dropDown 1s ease-out forwards;
}
.collection-item {
  background-color: #f5f7f8;
  text-wrap: nowrap;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.3s;
  border: none;
}
.collection-item:hover {
  cursor: pointer;
  scale: 1.05;
}
.logOutBtn {
  background-color: #f4ce14;
  border-radius: 10px;
  padding: 8px;
  width: 100px;
  transition: all 0.3s;
  margin-left: auto;
  margin-right: 30px;
  border: none;
  text-align: center;
  animation: dropDown 1s forwards;
}
.logOutBtn:hover {
  cursor: pointer;
  scale: 1.05;
}

.nav-btn {
  display: none;
  background-color: #f4ce14;
  border-radius: 10px;
  padding: 8px;
  border: none;
  margin-left: auto;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.3s;
  animation: dropDown 1s forwards;
}
.nav-btn:hover {
  scale: 1.05;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .collection-items,
  .logOutBtn,
  .add-icon {
    display: none;
  }
  .nav-btn {
    display: block;
  }
}
.add-icon {
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  animation: dropDown 1s ease-out backwards;
}
.add-icon:hover {
  transform: scale(1.2) rotateZ(180deg);
}
.show {
  display: flex !important;
  animation: dropDown 0.5s ease-out forwards;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #f5f7f8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 101;
  min-width: 300px;
  width: 30%;
  min-height: 180px;
  animation:
    fadeIn 0.5s ease-out forwards,
    dropDown 0.5s ease-out forwards;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
}

.add-collection-input {
  width: 100%;
  min-height: 30px;
  padding-right: 60px;
}
.border-red {
  border: 1px solid #ff6969;
}
.char-count {
  position: absolute;
  right: 15px;
  font-size: 12px;
  color: #666;
  transform: translateY(-50%);
  top: 50%;
}

.add-btn {
  opacity: 0.5;
  background-color: #379777;
  border-radius: 10px;
  color: #f5f7f8;
  font-family: "Nunito", sans-serif !important;
  font-size: 15px;
  border: none;
  width: calc(100px + 10%);
  height: calc(10px + 3vh);
  transition: all 0.3s;
}
.add-btn:enabled {
  opacity: 1;
  transform: scale(1.03);
}
.add-btn:enabled:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.collection-select {
  background-color: #f5f7f8;
  text-wrap: nowrap;
  border-radius: 10px;
  margin-left: 2%;
  width: 30%;
  min-width: 350px;
  padding: 8px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}

.text {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  color: #f5f7f8;
  text-align: center;
}
