@import "../../App.css";
@keyframes scaleIn {
  0% {
    transform: scale(0.1);
    transform: rotate3d(-180);
  }
  100% {
    transform: scale(1);
    transform: rotate3d(0);
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
a {
  text-decoration: none;
  color: #f5f7f8;
  opacity: 0;
  animation: fadeIn 0.4s ease-out forwards 0.6s;
  transition: all 0.2s;
}
a:hover {
  color: #f4ce14;
  scale: 1.1;
}
input {
  padding-left: 10px;
  width: 70%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Nunito", sans-serif;
}
.auth-container {
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 50vw;
  min-width: 500px;
  background-color: #45474b;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-radius: 30px;
  animation:
    fadeIn ease-out 0.6s forwards,
    slideFromTop ease-out 0.6s forwards;
  color: #f5f7f8;
}
.inputs {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.authBtn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #f4ce14;
  color: #45474b;
  justify-self: center;
  align-self: center;
  opacity: 0.5;
  transition: all 0.3s;
}

.authBtn:enabled:hover {
  scale: 1.05;
}
