@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
.header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  text-align: center;
  color: #45474b;
  opacity: 0;
  animation:
    fadeIn 0.5s ease-out forwards,
    slideInFromBottom 0.5s ease-out forwards;
}
.text-under-header {
  font-size: 33px;
  color: #495e57;
  opacity: 0;
  animation:
    fadeIn 0.5s ease-out forwards 0.6s,
    slideInFromBottom 0.5s ease-out forwards 0.6s;
}
.btn-start {
  background-color: #f4ce14;
  color: #45474b;
  height: 5vh;
  width: 12vw;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 5%;
  font-size: 15px;
  opacity: 0;
  animation:
    fadeIn 0.5s ease-out forwards 1.1s,
    slideInFromBottom 0.5s ease-out forwards 1.1s;
  transition: all 0.3s;
}
.btn-start:hover {
  scale: 1.05;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
