body {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fbf9f1;
}
.font-weight-800 {
  font-weight: 800;
}
.font-size-large {
  font-size: 48px;
}
.main-font {
  font-family: "Playwrite IT Moderna", cursive;
}
